<div class="location">
	<div class="headline" style="padding-top: 15px">НАШЕ МЕСТОПОЛОЖЕНИЕ</div>
	<div class="line"></div>
	<div class="location-block">
		<div class="location-text">
			<div>
				<b>Адрес:</b><br>
				ул. Гагарина 22, корпус А, г. Хабаровск
			</div>
			<div></div>
			<div>
				<b>Контакты:</b><br>
				<div class="location-contact">Руководитель: <br>Митин Антон +7(984)-296-66-09</div>
				<div class="location-contact">Коммерческий отдел:<br>Добровольский Павел +7(962)-587-15-45</div>
				Почта: mitant2014@mail.ru
			</div>
		</div>
		<div class="location-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d661.4357576511138!2d135.18560642464132!3d48.461459798924274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5efac29763e16077%3A0x597c94af30b6384!2z0YPQuy4g0JPQsNCz0LDRgNC40L3QsCwgMjIsINCl0LDQsdCw0YDQvtCy0YHQuiwg0KXQsNCx0LDRgNC-0LLRgdC60LjQuSDQutGA0LDQuSwgNjgwMDUy!5e0!3m2!1sru!2sru!4v1613191452859!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</div>
	</div>	
</div>