{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <img src="{% static '/web/img/logo.png' %}" width="40" height="40" alt="" class="navbar-logo">
  <a class="navbar-brand" href="/">Мехпром ДВ</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#about">О нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#create">Услуги</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news">Новости</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Связаться</a>
      </li>
    </ul>
    <form class="form-inline" action="{% url 'search' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Поиск среди услуг" aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
    </form>
  </div>
</nav>