<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Мехпром ДВ</title>
	<link rel="stylesheet" type="text/css" href="{% static '/web/css/create.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/web/css/include.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/web/css/bootstrap.css' %}">
	<script src="{% static '/web/js/jQuery.js' %}"></script>
	<script src="{% static '/web/js/bootstrap.js' %}"></script>
	<script src="{% static '/web/js/carousel.js' %}"></script>

</head>
<body>
{% block content %}

{% include 'header.html' %}

<div class="create-block">
	<div class="headline">Результат поиска</div>
	<div class="line"></div>
	<div class="error">{{ error|safe }}</div>
	<div class="create-category">
	{% for searchpost in searchpost %}
		<a href="/product/{{searchpost.id}}">
			<div class="create-category-block" style="background-image: url({{searchpost.img.url}});">
				<div class="create-category-text">
					{{ searchpost.name }}
				</div>
			</div>
		</a>
	{% endfor %}
	</div>
</div>

{% include 'footer.html' %}
	
{% endblock %}
</body>
</html>